// Animations transitions
.fade-left-enter-active, .fade-left-leave-active,
.fade-right-enter-active, .fade-right-leave-active,
.fade-enter-active, .fade-leave-active {
  transition: .4s ease-in-out;
}

.fade-left-enter, .fade-left-leave-to {
  opacity: 0;
  transform: translateX(-25px);
}

.fade-right-enter, .fade-right-leave-to {
  opacity: 0;
  transform: translateX(25px);
}

.fade-down-enter, .fade-down-leave-to {
  opacity: 0;
  transform: translateY(25px);
}

.fade-enter-active, .fade-leave-active {
  transition: .2s ease-in-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}