@keyframes spin {
  to {
    transform: rotate(1080deg);
  }
}

.icon-box {
  @apply w-5 h-5 flex items-center justify-center;
  color: inherit;
  &--large {
    @apply w-8 h-8;
  }
  &--smallest {
    @apply w-4 h-4;
  }
  & svg {
    object-fit: contain;
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    fill: currentColor;
  }
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #FF0000;
  }
}

.tippy-tooltip {
  &.default-theme {
    @apply text-neutral-100 bg-info-base;
    &[data-placement^='top'] .tippy-arrow {
      border-top-color:theme('colors.info.base');
    }
    &[data-placement^='bottom'] .tippy-arrow {
      border-bottom-color:theme('colors.info.base');
    }
    &[data-placement^='left'] .tippy-arrow {
      border-left-color:theme('colors.info.base');
    }
    &[data-placement^='right'] .tippy-arrow {
      border-right-color:theme('colors.info.base');
    }
  }
  &.error-theme {
    @apply text-neutral-100 bg-error-base;
    &[data-placement^='top'] .tippy-arrow {
      border-top-color:theme('colors.error.base');
    }
    &[data-placement^='bottom'] .tippy-arrow {
      border-bottom-color:theme('colors.error.base');
    }
    &[data-placement^='left'] .tippy-arrow {
      border-left-color:theme('colors.error.base');
    }
    &[data-placement^='right'] .tippy-arrow {
      border-right-color:theme('colors.error.base');
    }
  }
  &.warning-theme {
    @apply text-neutral-100 bg-warning-base;
    &[data-placement^='top'] .tippy-arrow {
      border-top-color:theme('colors.warning.base');
    }
    &[data-placement^='bottom'] .tippy-arrow {
      border-bottom-color:theme('colors.warning.base');
    }
    &[data-placement^='left'] .tippy-arrow {
      border-left-color:theme('colors.warning.base');
    }
    &[data-placement^='right'] .tippy-arrow {
      border-right-color:theme('colors.warning.base');
    }
  }
  &.neutral-theme {
    @apply text-neutral-100 bg-neutral-800;
    &[data-placement^='top'] .tippy-arrow {
      border-top-color:theme('colors.neutral.800');
    }
    &[data-placement^='bottom'] .tippy-arrow {
      border-bottom-color:theme('colors.neutral.800');
    }
    &[data-placement^='left'] .tippy-arrow {
      border-left-color:theme('colors.neutral.800');
    }
    &[data-placement^='right'] .tippy-arrow {
      border-right-color:theme('colors.neutral.800');
    }
  }
}

.snackbar {
  background-color: var(--primary);
  @apply font-body z-10 text-white;
  & .snackbar__action {
    @apply text-white font-bold;
  }
  @screen md {
    @apply w-full;
  }
}

.spinner {
  border-radius: 100%;
  border: 2px solid;
  border-left: 2px solid;
  animation: spin 2.5s infinite linear;
}

.b-table.mb-table table,
.mb-table {
  @apply shadow w-full text-left bg-white font-light rounded overflow-hidden border-none;
    transition: all .4s ease;
  @screen md {
    @apply bg-neutral-300;
  }
  &:hover {
    @apply shadow-xl;
  }
  thead {
    @apply bg-neutral-300;
    th {
      @apply py-2 px-4 font-normal border-none whitespace-no-wrap;
    }
  }
  &--error {
    thead {
      @apply bg-error-base;
      th {
        @apply text-white;
      }
    }
  }
  & tbody {
    td {
      @apply py-3 px-4 text-sm text-neutral-700 border-neutral-300 border-b;
      @screen md {
        @apply bg-white whitespace-no-wrap;
      }
    }
    tr:last-child td {
      @apply border-b-0;
    }
  }
  .level {
    @apply p-4 bg-neutral-300;
    &:not(.top) {
      @apply pb-4;
    }
  }
  .table-wrapper:not(:last-child) {
    @apply mb-0;
  }
}

.multiselect {
  @apply flex items-center justify-between bg-white border-t-0 border-b-0 border-r-0 shadow rounded border-l-4 border-solid border-primary-200 min-h-0;
    transition: all .4s ease;
  &__select {
    @apply py-0 absolute-center-y;
  }
  &__tags {
    @apply px-2 py-1 pr-12 flex-grow m-0 border-none min-h-0 truncate;
  }
  &__placeholder {
    @apply mb-0 text-neutral-500;
    padding-bottom: 1px;
  }
  &__content-wrapper {
    top: 100%;
  }
  &__input {
    @apply mb-0 text-base font-light;
    padding-bottom: 2px;
    padding-top: 2px;
  }
  &__option--highlight {
    @apply bg-primary-600;
  }
  &__option::after {
    @apply hidden;
  }
  &__option--highlight.multiselect__option--selected::after {
    @apply block;
    content: 'X';
  }
  &__single {
    @apply mb-0 text-base truncate;
    padding-bottom: 2px;
    padding-top: 2px;
  }
}

.autocomplete {
  input {
    @apply shadow border-t-0 border-r-0 border-b-0 border-l-4 border-primary-200 px-2 border-solid bg-white rounded py-1 w-full font-light text-base h-auto;
      transition: all .4s ease;
    &:focus {
      @apply border-primary-200 border-r-4 border-t-0 border-b-0 shadow-md;
    }
    &:hover {
      @apply border-primary-200;
    }
  }
}
